:root {
  --margin-big-seed-hole: 2%;
}

.board {
  display: flex;
  width: 90vw;
  height: 50vh;
  margin-left: 5vw;
  border-radius: 3em;
  min-width: 965px;
  min-height: 275px;
}

.big_seed_hole {
  position: relative;
  width: 10%;
  height: 75%;
  border-radius: 5em;
}

.left_big_seed_hole {
  margin-left: var(--margin-big-seed-hole);
  margin-top: var(--margin-big-seed-hole);
}

.right_big_seed_hole {
  margin-left: auto;
  margin-top: auto;
  margin-right: var(--margin-big-seed-hole);
  margin-bottom: var(--margin-big-seed-hole);
}