body {
    background-image: url(background.jpg);
}

h1 {
    font-size: 3em;
    text-align: center;
}



.holesGrid {
    background-image: url(wood-texture.png);
    border-bottom: 0.5rem solid #e8a45b;
    box-shadow: 0 0 5px #333;
}

.hole {
    background-color: rgba(194, 125, 52, 0.65);
    box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.5);
}


.seed {
    background-color: rgb(192, 87, 108);
    box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.neonText {
    color: #fff;
    text-shadow:
        0 0 7px rgba(194, 125, 52, 0.65),
        0 0 10px rgba(194, 125, 52, 0.65),
        0 0 21px rgba(194, 125, 52, 0.65),
        0 0 42px #E19C7F,
        0 0 82px #E19C7F,
        0 0 92px #E19C7F,
        0 0 102px #E19C7F,
        0 0 151px #E19C7F;
}

.button-1{
    background-color: rgb(235,165,93);
    border: transparent;
    text-decoration: underline;
    font-size: 2em;
    font-weight: bold;
    border-radius: 0.5em;
    color: rgb(95, 63, 29);
}