body {
    font-size: larger;
}

.aaa {
    color: blueviolet;
}


.board {
    background-image: url(wood-texture.png);
    border-bottom: 0.5rem solid #e8a45b;
    box-shadow: 0 0 5px #333;
}

.big_seed_hole{
    background-color: #70410e;
    opacity: 0.80;
}


/* .board:active {
    /* Darken on click by 15% (down to 85%) *\/
    filter: brightness(0.85);
} 
*/